<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Cadastro Usuário</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container">
			<div th:replace="usuario/cabecalho"></div>
			<div class="tile">
				<div class="tile-body">
					<form th:action="@{/usuario/excluir}"
						  method="POST" 
						  th:object="${usuario}">
						<div th:replace="usuario/dados :: consulta"></div>
						<input type="hidden" 
						  	   id="id" 
						  	   name="id" 
						  	   th:field="*{id}" />
						<div class="tile-footer">
							<button type="submit" class="btn btn-primary">Excluir</button>
							<a th:href="@{/usuario/listar}" class="btn btn-warning">Cancelar</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</html>